
/****** Object:  Table [dbo].[PM_APPROVALS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_APPROVALS](
	[APPROVAL_ID] [varchar](50) NOT NULL,
	[APPROVAL_NAME] [varchar](255) NULL,
	[APPROVAL_DESCRIPTION] [varchar](2000) NULL,
	[APPROVAL_ACTIVATION_DATE] [datetime] NULL,
	[APPROVAL_EXPIRATION_DATE] [datetime] NULL,
	[OBJECT_CD] [varchar](50) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_APPROVALS_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_APPROVALS_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[APPROVAL_ID] [varchar](50) NOT NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[ACTIVATION_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[OBJECT_CD] [varchar](50) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_CELL_DATA]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_CELL_DATA](
	[CELL_ID] [varchar](50) NOT NULL,
	[PROJECT_PATH] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NULL,
	[METHOD_CD] [varchar](255) NULL,
	[URL] [varchar](255) NULL,
	[CAN_OVERRIDE] [int] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CELL_ID] ASC,
	[PROJECT_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_CELL_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_CELL_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[CELL_ID] [varchar](50) NOT NULL,
	[PROJECT_PATH] [varchar](255) NOT NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[CAN_OVERRIDE] [int] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_GLOBAL_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_GLOBAL_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[PROJECT_PATH] [varchar](255) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[CAN_OVERRIDE] [int] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_HIVE_DATA]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_HIVE_DATA](
	[DOMAIN_ID] [varchar](50) NOT NULL,
	[HELPURL] [varchar](255) NULL,
	[DOMAIN_NAME] [varchar](255) NULL,
	[ENVIRONMENT_CD] [varchar](255) NULL,
	[ACTIVE] [int] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOMAIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_HIVE_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_HIVE_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[DOMAIN_ID] [varchar](50) NOT NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_PROJECT_DATA]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_PROJECT_DATA](
	[PROJECT_ID] [varchar](50) NOT NULL,
	[PROJECT_NAME] [varchar](255) NULL,
	[PROJECT_WIKI] [varchar](255) NULL,
	[PROJECT_KEY] [varchar](255) NULL,
	[PROJECT_PATH] [varchar](255) NULL,
	[PROJECT_DESCRIPTION] [varchar](2000) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_PROJECT_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_PROJECT_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[PROJECT_ID] [varchar](50) NOT NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_PROJECT_REQUEST]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_PROJECT_REQUEST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](255) NULL,
	[REQUEST_XML] [varchar](max) NOT NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
	[PROJECT_ID] [varchar](50) NULL,
	[SUBMIT_CHAR] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_PROJECT_USER_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_PROJECT_USER_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[PROJECT_ID] [varchar](50) NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_PROJECT_USER_ROLES]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_PROJECT_USER_ROLES](
	[PROJECT_ID] [varchar](50) NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[USER_ROLE_CD] [varchar](255) NOT NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC,
	[USER_ID] ASC,
	[USER_ROLE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_ROLE_REQUIREMENT]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_ROLE_REQUIREMENT](
	[TABLE_CD] [varchar](50) NOT NULL,
	[COLUMN_CD] [varchar](50) NOT NULL,
	[READ_HIVEMGMT_CD] [varchar](50) NOT NULL,
	[WRITE_HIVEMGMT_CD] [varchar](50) NOT NULL,
	[NAME_CHAR] [varchar](2000) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLE_CD] ASC,
	[COLUMN_CD] ASC,
	[READ_HIVEMGMT_CD] ASC,
	[WRITE_HIVEMGMT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_USER_DATA]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_USER_DATA](
	[USER_ID] [varchar](50) NOT NULL,
	[FULL_NAME] [varchar](255) NULL,
	[PASSWORD] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[PROJECT_PATH] [varchar](255) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_USER_LOGIN]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_USER_LOGIN](
	[USER_ID] [varchar](50) NOT NULL,
	[ATTEMPT_CD] [varchar](50) NOT NULL,
	[ENTRY_DATE] [datetime2](7) NOT NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_USER_PARAMS]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_USER_PARAMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATATYPE_CD] [varchar](50) NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[PARAM_NAME_CD] [varchar](50) NOT NULL,
	[VALUE] [varchar](max) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PM_USER_SESSION]    Script Date: 1/21/2022 10:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PM_USER_SESSION](
	[USER_ID] [varchar](50) NOT NULL,
	[SESSION_ID] [varchar](50) NOT NULL,
	[EXPIRED_DATE] [datetime] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SESSION_ID] ASC,
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PM_CELL_DATA] ([CELL_ID], [PROJECT_PATH], [NAME], [METHOD_CD], [URL], [CAN_OVERRIDE], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'CRC', N'/', N'Data Repository', N'REST', N'http://localhost/i2b2/services/QueryToolService/', 1, NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_CELL_DATA] ([CELL_ID], [PROJECT_PATH], [NAME], [METHOD_CD], [URL], [CAN_OVERRIDE], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'FRC', N'/', N'File Repository ', N'SOAP', N'http://localhost/i2b2/services/FRService/', 1, NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_CELL_DATA] ([CELL_ID], [PROJECT_PATH], [NAME], [METHOD_CD], [URL], [CAN_OVERRIDE], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'IM', N'/', N'IM Cell', N'REST', N'http://localhost/i2b2/services/IMService/', 1, NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[PM_HIVE_DATA] ([DOMAIN_ID], [HELPURL], [DOMAIN_NAME], [ENVIRONMENT_CD], [ACTIVE], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'i2b2', N'http://www.i2b2.org', N'i2b2demo', N'DEVELOPMENT', 1, NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[PM_PROJECT_DATA] ([PROJECT_ID], [PROJECT_NAME], [PROJECT_WIKI], [PROJECT_KEY], [PROJECT_PATH], [PROJECT_DESCRIPTION], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'Demo', N'i2b2 Demo', N'http://www.i2b2.org', NULL, N'/Demo', NULL, NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[PM_PROJECT_USER_ROLES] ([PROJECT_ID], [USER_ID], [USER_ROLE_CD], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'@', N'i2b2', N'ADMIN', NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_PROJECT_USER_ROLES] ([PROJECT_ID], [USER_ID], [USER_ROLE_CD], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'Demo', N'AGG_SERVICE_ACCOUNT', N'DATA_AGG', NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_PROJECT_USER_ROLES] ([PROJECT_ID], [USER_ID], [USER_ROLE_CD], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'Demo', N'AGG_SERVICE_ACCOUNT', N'DATA_OBFSC', NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[PM_ROLE_REQUIREMENT] ([TABLE_CD], [COLUMN_CD], [READ_HIVEMGMT_CD], [WRITE_HIVEMGMT_CD], [NAME_CHAR], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'PM_CELL_DATA', N'@', N'@', N'MANAGER', NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_ROLE_REQUIREMENT] ([TABLE_CD], [COLUMN_CD], [READ_HIVEMGMT_CD], [WRITE_HIVEMGMT_CD], [NAME_CHAR], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'PM_CELL_PARAMS', N'@', N'@', N'MANAGER', NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_ROLE_REQUIREMENT] ([TABLE_CD], [COLUMN_CD], [READ_HIVEMGMT_CD], [WRITE_HIVEMGMT_CD], [NAME_CHAR], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'PM_GLOBAL_PARAMS', N'@', N'@', N'ADMIN', NULL, NULL, NULL, NULL, N'A')
GO
INSERT [dbo].[PM_USER_DATA] ([USER_ID], [FULL_NAME], [PASSWORD], [EMAIL], [PROJECT_PATH], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'AGG_SERVICE_ACCOUNT', N'AGG_SERVICE_ACCOUNT', N'9117d59a69dc49807671a51f10ab7f', NULL, NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_USER_DATA] ([USER_ID], [FULL_NAME], [PASSWORD], [EMAIL], [PROJECT_PATH], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'demo', N'i2b2 User', N'40433294c0ba8cc5b9fb04fdbb06e9b', NULL, NULL, NULL, NULL, NULL, N'A')
INSERT [dbo].[PM_USER_DATA] ([USER_ID], [FULL_NAME], [PASSWORD], [EMAIL], [PROJECT_PATH], [CHANGE_DATE], [ENTRY_DATE], [CHANGEBY_CHAR], [STATUS_CD]) VALUES (N'i2b2', N'i2b2 Admin', N'40433294c0ba8cc5b9fb04fdbb06e9b', NULL, NULL, NULL, NULL, NULL, N'A')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PM_USER_LOGIN_IDX]    Script Date: 1/21/2022 10:43:01 AM ******/
CREATE NONCLUSTERED INDEX [PM_USER_LOGIN_IDX] ON [dbo].[PM_USER_LOGIN]
(
	[USER_ID] ASC,
	[ENTRY_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
