
/****** Object:  Table [dbo].[WORKPLACE]    Script Date: 1/21/2022 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKPLACE](
	[C_NAME] [varchar](255) NOT NULL,
	[C_USER_ID] [varchar](255) NOT NULL,
	[C_GROUP_ID] [varchar](255) NOT NULL,
	[C_SHARE_ID] [varchar](255) NULL,
	[C_INDEX] [varchar](255) NOT NULL,
	[C_PARENT_INDEX] [varchar](255) NULL,
	[C_VISUALATTRIBUTES] [char](3) NOT NULL,
	[C_PROTECTED_ACCESS] [char](1) NULL,
	[C_TOOLTIP] [varchar](255) NULL,
	[C_WORK_XML] [varchar](max) NULL,
	[C_WORK_XML_SCHEMA] [varchar](max) NULL,
	[C_WORK_XML_I2B2_TYPE] [varchar](255) NULL,
	[C_ENTRY_DATE] [datetime] NULL,
	[C_CHANGE_DATE] [datetime] NULL,
	[C_STATUS_CD] [char](1) NULL,
 CONSTRAINT [WORKPLACE_PK] PRIMARY KEY CLUSTERED 
(
	[C_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKPLACE_ACCESS]    Script Date: 1/21/2022 10:43:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKPLACE_ACCESS](
	[C_TABLE_CD] [varchar](255) NOT NULL,
	[C_TABLE_NAME] [varchar](255) NOT NULL,
	[C_PROTECTED_ACCESS] [char](1) NULL,
	[C_HLEVEL] [int] NOT NULL,
	[C_NAME] [varchar](255) NOT NULL,
	[C_USER_ID] [varchar](255) NOT NULL,
	[C_GROUP_ID] [varchar](255) NOT NULL,
	[C_SHARE_ID] [varchar](255) NULL,
	[C_INDEX] [varchar](255) NOT NULL,
	[C_PARENT_INDEX] [varchar](255) NULL,
	[C_VISUALATTRIBUTES] [char](3) NOT NULL,
	[C_TOOLTIP] [varchar](255) NULL,
	[C_ENTRY_DATE] [datetime] NULL,
	[C_CHANGE_DATE] [datetime] NULL,
	[C_STATUS_CD] [char](1) NULL,
 CONSTRAINT [WORKPLACE_ACCESS_PK] PRIMARY KEY CLUSTERED 
(
	[C_INDEX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[WORKPLACE_ACCESS] ([C_TABLE_CD], [C_TABLE_NAME], [C_PROTECTED_ACCESS], [C_HLEVEL], [C_NAME], [C_USER_ID], [C_GROUP_ID], [C_SHARE_ID], [C_INDEX], [C_PARENT_INDEX], [C_VISUALATTRIBUTES], [C_TOOLTIP], [C_ENTRY_DATE], [C_CHANGE_DATE], [C_STATUS_CD]) VALUES (N'demo', N'WORKPLACE', N'N', 0, N'@', N'@', N'@', N'N', N'0', NULL, N'CA ', N'@', NULL, NULL, NULL)
INSERT [dbo].[WORKPLACE_ACCESS] ([C_TABLE_CD], [C_TABLE_NAME], [C_PROTECTED_ACCESS], [C_HLEVEL], [C_NAME], [C_USER_ID], [C_GROUP_ID], [C_SHARE_ID], [C_INDEX], [C_PARENT_INDEX], [C_VISUALATTRIBUTES], [C_TOOLTIP], [C_ENTRY_DATE], [C_CHANGE_DATE], [C_STATUS_CD]) VALUES (N'demo', N'WORKPLACE', N'N', 0, N'SHARED', N'shared', N'demo', N'Y', N'100', NULL, N'CA ', N'SHARED', NULL, NULL, NULL)
GO
